---
layout: default
title: Stand Up Paddle Boarding Adventures
---

{% include header.html
    heading="Welcome to My Paddle Board Blog"
    subheading="Adventures out on the water with my SUP"
    img="/img/stand_up_paddle_board_adventures.jpg" %}

<!-- print all posts -->
{% for post in site.posts %}
<article>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
        <h1><a href="{{ post.url }}">{{ post.title }}</a></h1>
        {{ post.excerpt }}
      </div>
    </div>
  </div>
</article>
{% endfor %}
